:root{
    --cinammon: #90553c;
    --leafy:#a3966a;
    --espreso: #482e1d;
    --sand_storm:#f0daae;
    --caramel:#895d2b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: var(--sand_storm);
    display: grid;
    justify-items: center;
    align-items: center;
    
}
nav {  
    background: var(--cinammon);
    padding: 1em;
    margin-bottom: 200px;
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
section {
    padding: 20px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--sand_storm);
    border-radius: 25px;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}
.contact-form {
    display: grid;
    justify-items: center;
    padding: 20px;
}
.contact-form h2 {
    color: var(--caramel);
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: solid var(--cinammon);
    border-radius: 8px;
    background: transparent;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--espreso);
    color: var(--sand_storm);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background: var(--caramel);
}
.contact-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--caramel);
}
.contact-info p {
    margin: 5px 0;
}