:root{
    --cinammon: #90553c;
    --leafy:#a3966a;
    --espreso: #482e1d;
    --sand_storm:#f0daae;
    --caramel:#895d2b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: var(--sand_storm);
    
}

.container {
    display: flex;
    justify-content: center;
    width: 32%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
}



.form-container {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    background: var(--sand_storm);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}


.form-box {
    display: block;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
    width: 300px;
    text-align: center;
}

.form-box h2 {
    color: var(--espreso);
    margin-bottom: 20px;
    font-size: 24px;
}


.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--caramel);
    border-radius: 5px;
    outline: none;
    color: var(--caramel) ;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    background: var(--sand_storm);
    border: solid var(--sand_storm);
    border-radius: 25px ;
    transform: translateY(-50%);
    color: var(--caramel);
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    font-size: 12px;
    color: var(--caramel);
}


button {
    padding: 10px;
    background: var(--espreso);
    border: none;
    border-radius: 18px;
    color: var(--sand_storm);
    font-size: 16px;
    cursor: pointer;
    transition: var(--caramel) 0.3s ease;
}

button:hover {
    background: var(--caramel);
}


.register-link, .login-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a, .login-link a {
    color: var(--caramel);
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
